.body {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: beige;
  flex-direction: column;
}

.puzzle {
  margin: 25px 25px;
}

.puzzle-complete {
  background-color: coral;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 1px 1px lavender;
}
